
/* Your CSS Code here. */
.holder {
  display: flex;
  justify-content:space-between;
  gap: 10px; /* Adjust the gap between items as needed */
}

.item {
	width:150px;
	height:150px;
	font-size:5em;
}
#item_1{
	background-color:green;
}
#item_2{
	background-color:red;
}
#item_3{
	background-color:blue;
}
